<div id = "aboutSection">
    <div>
        <img src="https://cdn.discordapp.com/attachments/779360461513818162/964563549068337192/BUYUK_LOGO-removebg-preview.png" id="logo"/>
        <div id = "aboutSectionTitle">TransAir Access System</div>
        <p>The TransAir company manages several centres in different airports.</p>
    </div>
    <div id="map">
        <img src="../assets/map.png" alt="map">
    </div>
</div>

<centre></centre>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>