#aboutSectionTitle {
    font-size: 4rem;
}
#aboutSection{
    height:200px;
    margin-bottom: 15%;
    display: flex;
}
#logo{
    width:350px;
    height:200px;
}
#info{
    margin-top:2rem;
    font-size:16px;
}

#map{
    margin-right: 25%;
    margin-left: auto;
}