#ulZones {
    list-style-type: none;
    line-height: 3.5rem;
    padding: 0;
}
#zonesSection {
    margin: 15px 0;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(120,120,120,0.3);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

#zoneTitle {
    font-size: 3rem;
    margin-top:20px;
    text-align: center;
    font-weight: bold;
}